@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(135deg, #f8f9fa, #e9ecef);
}

.formContainer {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  min-width: 600px;
  text-align: center;
  animation: fadeIn 0.5s ease-in-out;
}

.title {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #0070f3;
}

.label {
  font-size: 1.2em;
  color: #333;
}

.input {
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  width: calc(100% - 22px); /* Adjust based on padding and border */
}

.attendeesContainer {
  max-height: 200px;
  min-height: 200px;
  overflow-y: auto;
  margin-top: 20px;
  background-color: #f1f3f5;
  border-radius: 10px;
  padding: 10px;
  box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.1);
}

.attendeeContainer {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  animation: slideIn 0.5s ease-out;
}

.inputsContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.slideIn {
  animation: slideIn 0.3s ease-out;
}

.button {
  margin: 5px 0;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 1em;
}

.buttonAdd {
  background-color: #28a745;
  color: white;
}

.buttonAdd:hover {
  background-color: #218838;
}

.buttonRemove {
  background-color: #dc3545;
  color: white;
}

.buttonRemove:hover {
  background-color: #c82333;
}

.buttonStart {
  background-color: #007bff;
  color: white;
}

.buttonStart:hover {
  background-color: #0056b3;
}
